@import url('https://fonts.googleapis.com/css?family=Catamaran');



@mixin offerBody() {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.2em;
}
@mixin offerHeadinMenu() {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.2em;
}
@mixin offerHeadin() {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.5em;
}

@mixin offerfooter() {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.0em;
}

@mixin splatHeading() {
  font-family: 'Catamaran', sans-serif;
  font-size: 2.3em;
  color: white;
}


@mixin pageHeading() {
  font-family: 'Catamaran', sans-serif;
  font-size: 2.3em;
  color: $offBlack;
}
