
.footer{
  border-top: $offwhite 1px solid;
  clear:both;
  z-index: 99999;
  width: 100%;
  height: 40px;
  background: $black;
  &:after{

  }

  .footer__logo{
    float: right;
  }

  .footer__title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40px;
margin-right: $boaderWidth;

@include offerfooter();
color: $offwhite;
  float: right;


  }

}
