@import 'offer.scss';
.menuBar{
  position: relative;
  z-index: 99999;
  position: fixed;
  width: 100%;
  height: 40px;
  background: $black;
  &:after{
      clear:both;
  }

  .menuBar__logo{
    float: right;
    margin-top: 2px;
    width: 35px;
  }

  .menuBar__title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40px;
margin-right: $boaderWidth;

@include offerHeadinMenu();
color: $offwhite;
  float: right;
  }

}
