@mixin boraderInside($size, $color) {
  -webkit-box-shadow:inset 0px 0px 0px $size  $color;
  -moz-box-shadow:inset 0px 0px 0px $size  $color;
  box-shadow:inset 0px 0px 0px $size  $color;
}

@mixin shadow() {
  -webkit-box-shadow: 16px 10px 94px -15px rgba(0,0,0,0.36);
  -moz-box-shadow: 16px 10px 94px -15px rgba(0,0,0,0.36);
  box-shadow: 16px 10px 94px -15px rgba(0,0,0,0.36);
}

@mixin titleBox() {
  padding-left: $boaderWidth;
  padding-Right: $boaderWidth;
  border-top: $boader solid white;
  border-bottom: $boader solid white;
  border-right: $boader solid white;
}
