.content {
  float: left;
  background: $white;
  position: relative;

  .content__box {
    border-top: 1px solid $offBlack;

    .content__title {
      @include titleBox();
      float: left;
      @include pageHeading();
      border-right: 1px solid $offBlack;
      @include belowinbewtweenPhonePhone-Table(){
        clear:both;
        float: left;
        width: 100%;
      }
    }

    .content__shareButtons {
      float: right;
      @include titleBox();
      padding-top: 15px;
      margin-right: 5px;
      // margin: 0 auto;
      @include belowinbewtweenPhonePhone-Table (){
        float: left;
        width: 100%;
        left: 0px;
        margin: 0px;
      }
    }

    .content__space {
      // width: 100%;
      // height: 40px;
    }

    .content__Image {
      // float : left;
      // width: 50%;
      // margin-right: 5%;
    }

    .content__Extras {
      float: left;
      width: 100%;
      display: flex;
      justify-content: center;
            @include phone_both() {
                display: inline-block;
justify-content: left;
            }


      /* align items horizontally (in this case) */
      .content__iframes {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-right: 25px;
        float: left;
        height: 225px;
        border: 1px solid $offBlack;
        width: 25%;
        @include phone_both() {
      width: 80%;

      margin-left: 10%;
      height: 180px;
            margin-right: 25px;
        }

  //       @mixin phone_both() {
  // width: 100%;
  //   height: 100px;
  //   }

      }
    }

    .content__line {
      float: left;
      width: 100%;
      border-bottom: 1px solid $offBlack;
    }

    .content__body {
      margin-left: 25px;
      margin-top: 25px;
      margin-bottom: 25px;
      float: left;
      width: calc(50% - 25px);
      @include offerBody();

      @include  phone_both() {
      width: 90%;
      left:5%;
      }


    }

    .content_img {

      border-left: 1px solid $offBlack;
      float: right;
      width: calc(50% - 25px);
      @include  phone_both() {
        display: none;
      }

    }

    .content__bottom {
      clear: both;
      float: left;
      width: 100%;
      background: rgba(0,0,0,0.54);

      .content__subOffer {
        clear: both;
        float: left;
        width: 100%;
      }

      .content__title--sub {
        float: left;
      }

      .content__titleBottom {
        float: left;
        @include pageHeading();
        padding-left: $boaderWidth;
        padding-Right: $boaderWidth;
        border-right: 1px solid $offBlack;
      }
    }
  }
}
