.offerSelector {
  display: inline-block;
  float: left;
  position: relative;
  content: " ";
  width: 100%;
}

.offer__threeUp{

  width: calc(33.33333% - 2px);

    border: 1px solid $offwhite;




}

.offer__right{
  border-left: 1px solid white;
}
.offer__left{
clear: both;
      // border-right: $boader solid white;
}

.offer__small{
    width:  calc(35% - 1px);
}

.offer__big{
  width:  calc(65%);
}


.offer {
  background: $offwhite;
  display: inline-block;
  position: relative;
  float: left;
  z-index: 9;
  &:hover {
    cursor: pointer;
  }

  img {
    z-index: 1;
    float: left;
    width: calc(100%);
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .8s ease-in-out;
    &:hover{
      filter: none;
  -webkit-filter: grayscale(0);
    }
  }

  .offer__title {
    margin-top: - $boader ;
    @include offerHeadin() ;
    background: rgba(#A6A6A6, 0.5);
    color: $offwhite;
    position: absolute;
    float: left;
    padding-left: $boaderWidth;
    padding-Right: $boaderWidth;
    border-top: $boader solid white;
    border-bottom: $boader solid white;
    border-right: $boader solid white;
  }


  border-top: $boader solid white;
}
