$black : black;
$white : white;
$offwhite: #f2f2f2;
$boaderWidth : 10px;
$boader : 1px;
$offBlack: #2a2a2a;
@import 'fonts.scss';
@import 'media.scss';
@import 'mixin.scss';
@import 'offer.scss';
@import 'menuBar.scss';
@import 'splat.scss';
@import 'shareButtons.scss';
@import 'offerPage.scss';
@import 'footer.scss';


* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  background: #e3e3e3;
}

svg {
  width: 100%;
  max-width: 100%;
}
