.Demo__container{
//   text-align: center;
//     @mixin belowinbewtweenPhonePhone-Table (){
// text-align: left;
// }
}

.Demo__some-network {
  vertical-align: top;
  display: inline-block;
}
.Demo__some-network__share-count {
  font-size: 12px;
}
.Demo__some-network__share-button {
  cursor: pointer;
}
.Demo__some-network__share-button:hover:not(:active) {
  opacity: 0.75;
}
