.splat {
  display: flex;
     align-items: center;
  // border: $boaderWidth $offwhite solid;
  position: relative;
  width: 100%;
  // left: 5%;
  // margin-top: calc( 40px);
  // width: calc(90% - 20px);
  float: left;


.splat__title{
  @include splatHeading() ;
    margin-top: $boaderWidth;
  margin-left: $boaderWidth;
    position: absolute;
    z-index: 9999;
}
.splat__subtilte{

}
  .splat__logo {


    position: absolute;
    float: left;
margin-left: 25%;
    width: 50%;
    z-index: 9999;
    opacity: .2;

    @include phone_both{

      margin-top: 15px;
    }
    @include phone{

      margin-top: 20px;
    }
  }

  .splat__background {
    position: relative;
    float: left;
    width: 100%;
    z-index: 1;
  }
  &::after {
    clear: both;
  }
}
